<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .pError {
        color: red;
    }
    .validCheckFailedStyle{
        color: red;
    }
    .validCheckSuccessStyle{
        color:#005cbf;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/members/new" th:object="${member}" method="post" onsubmit="return check();">
        <div class="form-group">
            <label th:for="member_id">아이디</label>

            <input type="text" id="memberId" th:field="*{memberId}" class="form-control" placeholder="영문소문자 + 4~16자"
                   th:class="${#fields.hasErrors('memberId')}? 'form-control fieldError' : 'form-control'" readonly>
            <p id="errorMemberId" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" th:class="pError">
                Incorrect date</p>
            <div class="validCheckFailedStyle" id="memberIdValid"></div>
            <p class="validCheckFailedStyle" id="duplicatedMember"></p>
        </div>

        <div class="form-group">
            <label th:for="member_password">비밀번호</label>
            <input type="password" id="password1" name="memberPassword" class="form-control" placeholder="비밀 번호를 입력하세요 영어 대문자,소문자,숫자,특수문자모두 포함 + 8~16자">
            <div class="validCheckFailedStyle" id="password1Valid"></div>

        </div>
        <div class="form-group">
            <label th:for="member_password">비밀번호 확인</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="다시한번 비밀 번호를 입력하세요 영어 대문자,소문자,숫자,특수문자모두 포함 + 8~16자">
            <div class="validCheckFailedStyle" id="password2Valid"></div>
            <div class="validCheckFailedStyle" id="equalPasswordValid"></div>
        </div>
        <div class="form-group">
            <label th:for="member_sex">성별</label>
            <input type="text" th:field="*{memberSex}" class="form-control" placeholder="성별을 입력하세요"
                   th:class="${#fields.hasErrors('memberSex')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('memberSex')}" th:errors="*{memberSex}" th:class="pError">Incorrect date</p>

        </div>
        <div class="form-group">
            <label th:for="member_email">이메일</label>
            <input type="text" id="email" th:field="*{memberEmail}" class="form-control" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('memberEmail')}? 'form-control fieldError' : 'form-control'">
            <p id="errorEmail" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" th:class="pError">
                Incorrect
                date</p>
            <div class="validCheckFailedStyle" id="emailValid"></div>
        </div>
        <div class="form-group">
            <label th:for="member_pnumber">핸드폰 번호</label>
            <input type="text" id="Pnumber" th:field="*{memberPnumber}" class="form-control"
                   placeholder="핸드폰 번호를 입력하세요. xxx-xxxx-xxxx"
                   th:class="${#fields.hasErrors('memberPnumber')}? 'form-control fieldError' : 'form-control'">
            <p id="errorPnumber" th:if="${#fields.hasErrors('memberPnumber')}" th:errors="*{memberPnumber}"
               th:class="pError">Incorrect
                date</p>
            <div class="validCheckFailedStyle" id="PnumberValid"></div>
        </div>
        <input type="submit" class="btn btn-primary" value="변경">
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script type="text/javascript">
    // 중복회원 검사 0이면 중복회원 또는 무확인 1이면 중복회원검사 완료



    /**
     * 비밀번호 일치 확인
     * @returns {boolean}
     */
    function check() {
        let password1 = document.getElementById("password1").value;
        let password2 = document.getElementById("password2").value;

            if (password1 === "" || password2 === "") {
                alert("비밀번호를 입력해주세요.");
                return false;
            } else {
                if (password1 === password2) {
                    return true;
                } else
                    alert("일치하는 비밀번호를 입력해주세요.");
                return false;
            }
        }


    /**
     * 아이디 유효성 검사  영문소문자로 시작하고, 영문소문자 + 4~16자
     * @type {HTMLElement}
     */
    let memberId = document.getElementById("memberId");
    memberId.addEventListener("change", function (evt) {
        evt.preventDefault();
        let memberIdValue = document.getElementById("memberId").value;
        let MemberIdVaildTest = (/^[a-z]+[a-z0-9]{3,15}$/g).test(memberIdValue);
        let memberIdVaildAddText = document.getElementById("memberIdValid");
        if (MemberIdVaildTest) {
            memberIdVaildAddText.innerText = "올바른 아이디 입니다.";
            memberIdVaildAddText.className= "validCheckSuccessStyle";
        } else {
            memberIdVaildAddText.innerText = "올바르지 않은 아이디 입니다.";
        }
    });
    /**
     * 비밀번호 유효성 검사 영어 대문자,소문자,숫자,특수문자모두 포함 + 8~16자
     * @type {HTMLElement}
     */
    let password1 = document.getElementById("password1");
    password1.addEventListener("change", function (evt) {
        evt.preventDefault();
        let password1Value = document.getElementById("password1").value;
        let password1VaildTest = (/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,16}$/).test(password1Value);
        let password1VaildAddText = document.getElementById("password1Valid");
        if (password1VaildTest) {
            password1VaildAddText.innerText = "올바른 패스워드 입니다."
            password1VaildAddText.className="validCheckSuccessStyle";
        } else {
            password1VaildAddText.innerText = "올바르지 않은 패스워드 입니다."
        }
    });
    /**
     * 비밀번호 유효성 검사 영어 대문자,소문자,숫자,특수문자모두 포함 + 8~16자 비밀번호 확인까지 확인
     * 비밀번호 일치하는지 확인해주는다
     * @type {HTMLElement}
     */
    let password2 = document.getElementById("password2");
    password2.addEventListener("change", function (evt) {
        evt.preventDefault();
        let password2Value = document.getElementById("password2").value;
        let password1Value = document.getElementById("password1").value; //확인하기 위해 password1 정보를 가져온다
        let password2VaildTest = (/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,16}$/).test(password2Value);
        let password2VaildAddText = document.getElementById("password2Valid");
        if (password2VaildTest) {
            password2VaildAddText.innerText = "올바른 패스워드 입니다."
            password2VaildAddText.className = "validCheckSuccessStyle";
        } else {
            password2VaildAddText.innerText = "올바르지 않은 패스워드 입니다."
        }
        if (password2Value == password1Value) {
            document.getElementById("equalPasswordValid").innerText = "비밀번호가 일치합니다"
            document.getElementById("equalPasswordValid").className = "validCheckSuccessStyle";
        } else {
            document.getElementById("equalPasswordValid").innerText = "비밀번호가 일치하지않습니다"
        }
    });
    /**
     * 이메일 형식의 유효성 검사
     * @type {HTMLElement}
     */
    let email = document.getElementById("email");
    email.addEventListener("change", function (evt) {
        evt.preventDefault();
        let emailValue = document.getElementById("email").value;
        let emailVaildTest = (/^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i).test(emailValue);
        let emailVaildAddText = document.getElementById("emailValid");
        if (emailVaildTest) {
            emailVaildAddText.innerText = "올바른 이메일 입니다."
            emailVaildAddText.className = "validCheckSuccessStyle";
        } else {
            emailVaildAddText.innerText = "올바르지 않은 이메일 입니다."
        }

    });
    /**
     * 숫자3자리 + 숫자 3~4자리 + 숫자 4자리 유효성 검사
     * @type {HTMLElement}
     */
    let Pnumber = document.getElementById("Pnumber");
    Pnumber.addEventListener("change", function (evt) {
        evt.preventDefault();
        let PnumberValue = document.getElementById("Pnumber").value;
        let PnumberVaildTest = (/^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}/).test(PnumberValue);
        let PnumberVaildAddText = document.getElementById("PnumberValid");
        if (PnumberVaildTest) {
            PnumberVaildAddText.innerText = "올바른 핸드폰 입니다."
            PnumberVaildAddText.className = "validCheckSuccessStyle";
        } else {
            PnumberVaildAddText.innerText = "올바르지 않은 핸드폰 번호 입니다."
        }

    });


</script>

</html>
