<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>성별</th>
                <th>이메일주소</th>
                <th>가입 날짜</th>
                <th>핸드폰 번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${member}">
                <td th:text="${member.member_id}"></td>
                <td th:text="${member.member_sex}"></td>
                <td th:text="${member.member_email}"></td>
                <td th:text="${member.member_date}"></td>
                <td th:text="${member.member_pnumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
