<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th>게시판 번호</th>
                <th>게시판 이름</th>
                <th>게시판 작성 날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bbsDTO : ${bbsDTO}">
                <td th:text="${bbsDTO.bbs_no}"></td>
                <td th:text="${bbsDTO.bbs_title}"></td>
                <td th:text="${bbsDTO.bbs_date}"></td>
                <td th:text="${bbsDTO.bbs_hit}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/write}'|"
                type="button">글 작성하기</button>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>