<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th class="text-center">번호</th>
                <th class="text-center">제목</th>
                <th class="text-center">작성일</th>
                <th class="text-center">작성자</th>
                <th class="text-center">조회수</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="bbs : ${noticeBbs}">
                <td class="col-1 text-center" th:text="공지글"></td>
                <td class="col-5 text-center"><a th:text="${bbs.bbsTitle}"
                                                 th:href="@{/content/{bbsNo}(bbsNo=${bbs.bbsNo})}"></a></td>
                <!--th:onclick="|location.href='@{/content/{bbsNo}(bbsNo=${bbs.bbsNo})}'|"-->
                <td class="col-2 text-center" th:text="${bbs.bbsDate}"></td>
                <td class="col-2 text-center" th:text="${bbs.member.memberId}"></td>
                <td class="col-2 text-center" th:text="${bbs.bbsHit}"></td>
            </tr>

            <tr th:each="bbs : ${bbsDTO}">
                <td class="col-1 text-center" th:text="${bbs.bbsNo}"></td>
                <td class="col-5 text-center" th:if="${bbs.checkNS.toString().contains('s')}">
                    <a class="secret" th:text="${bbs.bbsTitle} + '-비밀글-'"
                       th:attr= "onclick=|javascript:secretBbsCheck(${bbs.bbsNo},'${bbs.member.memberId}')|"></a></td>
                <td class="col-5 text-center" th:unless="${bbs.checkNS.toString().contains('s')}">
                    <a th:text="${bbs.bbsTitle}"  th:href="@{/content/{bbsNo}(bbsNo=${bbs.bbsNo})}"></a></td>
                <!--th:onclick="|location.href='@{/content/{bbsNo}(bbsNo=${bbs.bbsNo})}'|"-->
                <td class="col-2 text-center" th:text="${bbs.bbsDate}"></td>
                <td class="col-2 text-center" th:text="${bbs.member.memberId}"></td>
                <td class="col-2 text-center" th:text="${bbs.bbsHit}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav style="text-align: center;">
        <ul class="pagination"
            th:with="start=${T(Math).floor(bbsDTO.number/10)*10 + 1},
                    last=(${start + 9 < bbsDTO.totalPages ? start + 9 : bbsDTO.totalPages})">
            <li>
                <a th:href="@{/bbsLists(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${bbsDTO.first} ? 'disabled'">
                <a th:href="${bbsDTO.first} ? '#' :@{/bbsLists(page=${bbsDTO.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == bbsDTO.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{/bbsLists(page=${page})}"></a>
            </li>

            <li th:class="${bbsDTO.last} ? 'disabled'">
                <a th:href="${bbsDTO.last} ? '#' : @{/bbsLists(page=${bbsDTO.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/bbsLists(page=${bbsDTO.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="row"></div>

    <form method="post" id="search" name="search" action="bbsListSearch">
        <table class="pull-right">
            <tr>
                <td><select class="form-control" name="searchField">
                    <option value="bbsTitle">제목</option>
                    <option value="bbsContent">내용</option>
                    <option value="userID">작성자</option>
                </select></td>
                <td><input type="text" class="form-control"
                           placeholder="검색어 입력" name="searchText" maxlength="100"></td>
                <td>
                    <button type="submit" class="btn btn-success">검색</button>
                </td>
            </tr>

        </table>
    </form>
</div>


<div class="col">
    <button class="w-100 btn btn-secondary btn-lg"
            onclick="location.href='items.html'"
            th:onclick="|location.href='@{/write(address=${address})}'|"
            type="button">글 작성하기
    </button>
</div>

<div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
<script type="text/javascript">
    let getSesstion = "[[ ${session.memberId} ]]";
    function secretBbsCheck(bbsno,member){
     if(getSesstion == member){
         window.location = "http://localhost:8080/content/" + bbsno;
    }else {
     alert("비밀글 입니다")}
    }

</script>
</html>