<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/basic">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .pError {
        color: red;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


    <div class="form-group">
        <label th:for="bbs_title" class="col-sm-2 control-label">제목</label>
        <div class="col-sm-10">
            <a th:text="${bbsDTO.bbsTitle}" th:field="${bbsDTO.bbsTitle}" class="form-control" readonly></a>
        </div>
    </div>


    <div class="form-group">
        <label th:for="content" class="col-sm-2 control-label">내용</label>
        <div class="col-sm-10">
            <textarea th:field="${bbsDTO.bbsContent}" class="form-control" readonly></textarea>
        </div>
    </div>
    <div id="comment">
        <div>
        <a class="col-2">작성자</a>
        <a class="col-8">내용</a>
        <a class="col-2">작성날짜</a>
        </div>
        <div>
            <a class="col-2">작성자</a>
            <a class="col-8">내용</a>
            <a class="col-2">작성날짜</a>
        </div>
        <div>
            <a class="col-2">작성자</a>
            <a class="col-8">내용</a>
            <a class="col-2">작성날짜</a>
        </div>
    </div>

    <div class="form-group">
        <label th:for="content" class="col-sm-2 control-label">댓글작성</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="content" placeholder="댓글을 입력해 주세요."></textarea>
            <button value="등록" th:onclick="commentAdd()">등록</button>
        </div>
    </div>


    <div class="btn_wrap text-center">
        <a th:href="@{/bbsLists}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
        <a th:href="@{/updateForm/{bbsNo}(bbsNo=${bbsDTO.bbsNo})}"
           class="btn btn-default waves-effect waves-light">수정하기</a>
        <a th:href="@{/delete/{bbsNo}(bbsNo=${bbsDTO.bbsNo})}" class="btn btn-default waves-effect waves-light">삭제하기</a>


    </div>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>
<script th:inline="javascript">
    async function commentAdd() {
        /*<![CDATA[*/
        let content = document.getElementById("content").value;
        let bbsNo = "[[${bbsDTO.bbsNo}]]";
        if(content === ""){
            alert("댓글을 입력해주세요.")
        }
        console.log("[[${bbsDTO.bbsNo}]]");
        let URL = "http://localhost:8080/CommentWrite"


        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                CommemtContent : content,
                bbsNo : bbsNo
            })
        }
        await fetch(URL,options)


      
    }
</script>


</body>


</html>