<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="board/layout/basic">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .pError {
        color: red;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


    <div class="form-group">
        <label th:for="bbs_title" class="col-sm-2 control-label">제목</label>
        <div class="col-sm-10">
            <a th:text="${bbsDTO.bbsTitle}" th:field="${bbsDTO.bbsTitle}" class="form-control" readonly></a>
        </div>
    </div>


    <div class="form-group">
        <label th:for="content" class="col-sm-2 control-label">내용</label>
        <div class="col-sm-10">
            <textarea th:field="${bbsDTO.bbsContent}" class="form-control" readonly></textarea>
        </div>
    </div>

        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <div  id="comment">
                        <div class="ms-3">
                            <div class="fw-bold"> 작성자 : 이름   작성일 :   </div><br>
                            When I look at the universe and all the ways the universe wants to kill us, I find it hard
                            to reconcile that with statements of beneficence.
                        </div>
                    </div>
                    <!-- Comment form-->
                    <form class="mb-4"><textarea class="form-control" rows="3"
                                                 id="content" placeholder="댓글을 입력해주세요"></textarea>
                        <button value="등록" th:onclick="commentAdd()">등록</button>

                    </form>
                </div>
            </div>
        </section>


    <!--<div class="form-group">
        <label th:for="content" class="col-sm-2 control-label">댓글작성</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="content" placeholder="댓글을 입력해 주세요."></textarea>
            <button value="등록" th:onclick="commentAdd()">등록</button>
            <button value="test" th:onclick="test1()">test</button>
        </div>
    </div>-->


    <div class="btn_wrap text-center">
        <a th:href="@{/bbsLists}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
        <a th:href="@{/updateForm/{bbsNo}(bbsNo=${bbsDTO.bbsNo})}"
           class="btn btn-default waves-effect waves-light">수정하기</a>
        <a th:href="@{/delete/{bbsNo}(bbsNo=${bbsDTO.bbsNo})}" class="btn btn-default waves-effect waves-light">삭제하기</a>


    </div>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>
<script th:inline="javascript">
    let addDivComment = document.getElementById("comment");
    let bbsNo = "[[${bbsDTO.bbsNo}]]";

    window.onload = test1();

    /*<![CDATA[*/

    async function test1() {
        let str = "";
        let URL = "http://localhost:8080/findComment"

        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                bbsNo: bbsNo
            })
        }
        let response = await fetch(URL, options)
        let comment = await response.json();
        console.log(comment[0].commentId);
        for (let i = 0; i < comment.length; i++) {
            let childId = "child"+ i;

            str += "<div class=\'ms-3\'>";
            str += "<div class=\'fw-bold\'> 작성자 : " + comment[i].memberId + "  작성일 : " + comment[i].date;
            str += "<button value='button' onclick='childCommentAdd("+i+")'>댓글</button>"
            str += "<button value='button' onclick='commentDelete(" +comment[i].commentGroup+ ")'>삭제</button></div>"
            str += "내용 : "+ comment[i].content ;
            str += "<div id='"+childId+"'></div>" ;


            str += "</div><br>"
        }

        addDivComment.innerHTML = str;

    }

    async function commentAdd() {

        let content = document.getElementById("content").value;

        if (content === "") {
            alert("댓글을 입력해주세요.")
        } else {
            console.log("[[${bbsDTO.bbsNo}]]");
            let URL = "http://localhost:8080/CommentWrite"


            let options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    CommemtContent: content,
                    bbsNo: bbsNo
                })
            }
            await fetch(URL, options)
            alert("댓글 등록이 완료 되었습니다.")
            window.location.reload(true);
        }
    }
    async function commentDelete(commentGroup) {
        let URL = "http://localhost:8080/commentDelete"
        console.log(URL);
        let options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                commentGroup: commentGroup
            })
        }
        await fetch(URL, options)
        alert("댓글 삭제 완료 되었습니다.")
        window.location.reload(true);


    }
    function childCommentAdd(child){
        let str = "";
        let childnumber = "child" + child;
        let childcontent = document.getElementById(childnumber);
        str +="<form className='mb-4'>";
        str +="<textarea className='form-control' rows='3' id='"+childnumber+"' placeholder='댓글을 입력해주세요'></textarea>";
        str +="<button value='등록' th:onclick='commentChildAdd()'>등록</button>";
        str +="<button value='취소' th:onclick='commentChildAdd()'>취소</button><br>";
        childcontent.innerHTML = str;
    }
</script>


</body>


</html>