<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h3>HEALTHDUO</h3>
        <br><br><br>
        <div id="addressInfo" class="col">
            <!--   <button class="w-200 btn btn-secondary btn-lg" type="button"
                       th:onclick="|location.href='@{/bbsLists}'|">
                   게시판
               </button>-->

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

<script type="text/javascript">
    let addressInfo = document.getElementById("addressInfo");

    window.onload = async function () {
        str = "";
        asd = "";
        let URL = "http://localhost:8080/findRegion"
        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
        }
        let response = await fetch(URL, options)
        let regionInfo = await response.json();
        for (let i = 0; i < regionInfo.length; i++) {
            if (i % 2 == 0 && i > 0) {
                str += '<br>'
            }
            str += '<button class="w-25 btn btn-secondary btn-lg m-1" value="button" onclick="nextRegion(\'' + regionInfo[i] + '\')">' + regionInfo[i] + '</button>';
        }
        addressInfo.innerHTML = str;
    }

    async function nextRegion(region) {
        addressInfo.innerHTML = " ";
        str = "";

        let URL = "http://localhost:8080/findCity"
        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                region: region
            })
        }
        let response = await fetch(URL, options)
        let nextinfo = await response.json();

        if (region == "서울특별시") {
            for (let i = 0; i < nextinfo.length; i++) {
                if (i % 2 == 0 && i > 0) {
                    str += '<br>'
                }
                str += '<button class="w-25 btn btn-secondary btn-lg m-1" type="button" onclick="nextStreet(\'' + nextinfo[i] + '\')">' + nextinfo[i] + '</button>';

            }
            addressInfo.innerHTML = str;
        } else {
            for (let i = 0; i < nextinfo.length; i++) {
                if (i % 2 == 0 && i > 0) {
                    str += '<br>'
                }
                str += '<button class="w-25 btn btn-secondary btn-lg m-1" type="button" onclick="nextFullCity(\'' + nextinfo[i] + '\' )">' + nextinfo[i] + '</button>';
            }
            addressInfo.innerHTML = str;
        }
    }

    async function nextFullCity(city) {

        addressInfo.innerHTML = " ";
        str = "";

        let URL = "http://localhost:8080/findfullCity"
        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                city: city
            })
        }
        let response = await fetch(URL, options)
        let nextinfo = await response.json();
        for (let i = 0; i < nextinfo.length; i++) {
            if (i % 2 == 0 && i > 0) {
                str += '<br>'
            }
            str += '<button class="w-25 btn btn-secondary btn-lg m-1" type="button"  onclick="nextStreet(\'' + nextinfo[i] + '\')">' + nextinfo[i] + '</button>';
        }
        addressInfo.innerHTML = str;


    }

    async function nextStreet(fullCity) {

        addressInfo.innerHTML = " ";
        str = "";

        let URL = "http://localhost:8080/findStreet"
        let options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                fullCity: fullCity
            })
        }
        let response = await fetch(URL, options)
        let nextinfo = await response.json();
        for (let i = 0; i < nextinfo.length; i++) {
            if (i % 2 == 0 && i > 0) {
                str += '<br>'
            }
            str += '<button class="w-25 btn btn-secondary btn-lg m-1" type="button" onclick="location.href=\'bbsLists?address=' + nextinfo[i] + '\'">' + nextinfo[i] + '</button>';
        }
        addressInfo.innerHTML = str;
    }
</script>
</html>