<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th class="text-center">보낸 사람</th>
                <th class="text-center">제목</th>
                <th class="text-center">작성일</th>
                <th class="text-center">받은 사람</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="messageReceive : ${messageReceiveDTO}">
                <td class="col-3 text-center" th:text="${messageReceive.sendMemberId}"></td>
                <td class="col-5 text-center">
                    <a th:text="${messageReceive.messageReceiveTitle}"
                       th:href="@{/messagecontent/{messageNo}(messageNo=${messageReceive.messageReceiveNo})}" th:href="|location.href='@{/messagecontent/{messageNo}(messageNoNo=${messageReceive.messageReceiveNo})}'|"></a>

                </td>
                <td class="col-4 text-center" th:text="${messageReceive.messageReceiveDate}"></td>
                <td class="col-2 text-center" th:text="${messageReceive.receiveMemberId}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <nav style="text-align: center;">
        <ul class="pagination"
            th:with="start=${T(Math).floor(messageReceiveDTO.number/10)*10 + 1},
                    last=(${start + 9 < messageReceiveDTO.totalPages ? start + 9 : messageReceiveDTO.totalPages})">
            <li>
                <a th:href="@{/messagereceived(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${messageReceiveDTO.first} ? 'disabled'">
                <a th:href="${messageReceiveDTO.first} ? '#' :@{/messagereceived(page=${messageReceiveDTO.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == messageReceiveDTO.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{/messagereceived(page=${page})}"></a>
            </li>

            <li th:class="${messageReceiveDTO.last} ? 'disabled'">
                <a th:href="${messageReceiveDTO.last} ? '#' : @{/messagereceived(page=${messageReceiveDTO.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/messagereceived(page=${messageReceiveDTO.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
    <button class="btn btn-secondary btn-lg btn-block"
            onclick="location.href='items.html'"
            th:onclick="|location.href='@{/write(address=${address})}'|"
            type="button">쪽지 보내기
    </button>


    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
<script type="text/javascript">
</script>
</html>